<div class="disclaimer">
<iframe data-aa='2377640' src='//acceptable.a-ads.com/2377640?size=320x50' style='width:320px; height:50px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
</div>

<style>
	.disclaimer {
		background-color: #ffdacf;
		border: 2px dashed #da685e;
		padding: 5px;
		padding-bottom: 0px;
	}
</style>
