<div class="disclaimer">
	<script type="text/javascript">
		atOptions = {
			key: "5ba1dd5229380440d1250207a540e2e0",
			format: "iframe",
			height: 50,
			width: 320,
			params: {},
		};
	</script>
	<script
		type="text/javascript"
		src="//yogapersuasive.com/5ba1dd5229380440d1250207a540e2e0/invoke.js"
		onerror="window.localStorage.setItem('adblocker', 'true')"
	></script>
</div>

<style>
	.disclaimer {
		background-color: #ffdacf;
		border: 2px dashed #da685e;
		padding: 5px;
		padding-bottom: 0px;
	}
</style>
