<div id="disclaimer">
	<div class="text">Advertisement</div>
	<script type="text/javascript">
		atOptions = {
			key: "6989fbf16b115f0cc371196a9f5dfb68",
			format: "iframe",
			height: 600,
			width: 160,
			params: {},
		};
	</script>
	<script
		type="text/javascript"
		src="//yogapersuasive.com/6989fbf16b115f0cc371196a9f5dfb68/invoke.js"
		onload="document.querySelector('#disclaimer').classList.add('disclaimer'); window.localStorage.removeItem('adblocker')"
		onerror="window.localStorage.setItem('adblocker', 'true')"
	></script>
</div>

<style>
	.disclaimer {
		background-color: #ffdacf;
		border-bottom: 2px dashed #da685e;
		border-top: 2px dashed #da685e;
		border-right: 2px dashed #da685e;
		padding: 5px;
		padding-top: 2px;
	}

	.text {
		font-size: 12px;
		font-weight: 600;
		text-align: center;
		padding-bottom: 2px;
		display: none;
	}

	.disclaimer .text {
		display: block;
	}
</style>
