---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout
  title="Abuse Report | PreserveTube"
  description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
  keywords="abuse report preservetube, report preservetube"
>
  <main>
    <Header />

    <div class="w-[75%] mx-auto my-[5%]">
      Our top priority at PreserveTube is to provide a safe and respectful
      environment for all users of our service. If you come across any content
      on our website that you believe is inappropriate or violates our community
      guidelines, we urge you to report it immediately so we can take
      appropriate action.<br /><br />

      To file an abuse report, please follow these steps:

      <ol class="list-decimal list-inside">
        <li>
          Identify the content that you believe is inappropriate or in violation
          of our community guidelines.
        </li>
        <li>Take a screenshot or copy the URL of the content for reference.</li>
        <li>
          Send an email to <a
            class="font-bold"
            href="mailto:abuse@preservetube.com">abuse@preservetube.com</a
          > with the subject line "Abuse Report".
        </li>
        <li>
          In the email, please provide the following information:
          <ul>
            <li>Your full name and contact information.</li>
            <li>
              A detailed description of the content and why you believe it is
              inappropriate or in violation of our community guidelines.
            </li>
            <li>The screenshot or URL of the content for reference.</li>
          </ul>
        </li>
      </ol>

      Examples of content that are strictly prohibited on our website include
      but are not limited to:
      <ul>
        <li>
          Child pornography: Any content that sexually exploits or depicts
          minors is illegal and strictly prohibited.
        </li>
        <li>
          Other illegal content: Any material that violates the laws of either
          The Netherlands or The United States of America.
        </li>
      </ul>

      We take all reports of inappropriate content very seriously, and we will
      take swift action to remove any content that violates our community
      guidelines. We are committed to maintaining a safe and respectful
      environment for everyone who uses our service.<br /><br />

      Thank you for your cooperation in helping us keep our service safe and
      respectful for all users. If you have any questions or concerns, please do
      not hesitate to contact us.

      <h2 class="mb-[2px] text-2xl font-bold">Law Enforcement</h2>
      We comply with all valid and lawful requests from law enforcement agencies
      to provide information related to abuse of our service. However, we do not
      provide information to law enforcement agencies unless we are required to do
      so by law or court order. <br /><br />

      If you are <a
        class="font-bold"
        href="https://www.youtube.com/watch?v=WDogskpmM7M">law enforcement</a
      >, you can get in contact with us via <a
        class="font-bold"
        href="mailto:legal@preservetube.com">legal@preservetube.com</a
      >
    </div>

    <div class="absolute mx-auto left-0 right-0 bottom-10 text-center">
      <a class="font-bold" href="pgp.txt">Our PGP key</a> is available for secure
      communication.
    </div>
  </main>
</Layout>
