---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const url = Astro.url.searchParams.get("url");
const backend = import.meta.env.PUBLIC;
const sitekey = import.meta.env.SITEKEY;
---

<Layout
  title="Automatically Download | PreserveTube"
  description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
  keywords="automatically download youtube channel"
>
  <main>
    <Header />
    <div class="p-4">
      <p class="text-center">
        Solving a cryptographic challenge before adding this channel to auto
        download.
      </p>
      This process is automatic. Please wait.
    </div>
    <div class="captcha" id="captcha"></div>
  </main>
</Layout>

<script
  src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback"
  async
  defer></script>
<script define:vars={{ url, backend, sitekey }}>
  window.onloadTurnstileCallback = function () {
    turnstile.render("#captcha", {
      sitekey: sitekey,
      callback: function (token) {
        window.location.href = `${backend}/autodownload?url=${encodeURIComponent(url)}&captcha=${token}`;
      },
    });
  };
</script>
