---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const url = Astro.url.searchParams.get('url')
const backend = import.meta.env.PUBLIC
const sitekey = import.meta.env.SITEKEY
---

<Layout
	title="Automatically Download | PreserveTube"
	description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
	keywords="automatically download youtube channel"
>
	<main>
		<Header />
        <p class="text">
            Solving a cryptographic challenge before adding this channel to auto download. </br>
            This process is automatic. Please wait.
        </p>
        <div class="captcha" id="captcha"></div>
	</main>

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" async defer></script>
    <script define:vars={{ url, backend, sitekey }}>
        window.onloadTurnstileCallback = function () {
            turnstile.render('#captcha', {
                sitekey: sitekey,
                callback: function(token) {
                    window.location.href = `${backend}/autodownload?url=${encodeURIComponent(url)}&captcha=${token}`
                },
            })
        };
    </script>
</Layout>

<style>
    .text {
        margin-top: 2%;
        text-align: center;
    }
</style>