---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const backend = import.meta.env.PUBLIC;
---

<Layout
  title="Home | PreserveTube"
  description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
  keywords="youtube archive, youtube video history, youtube deleted, youtube deleted video, youtube downloader, youtube archiver"
>
  <main>
    <Header />
    <div class="pb-[50px] py-[20px] flex flex-col gap-y-4">
      <form
        class="p-[10px] mx-auto bg-[#515359] w-[85%] md:w-[50%]"
        action="save"
      >
        <div class="font-bold text-base text-white">
          Archive a Youtube Video
        </div>
        <div class="flex gap-1 text-sm">
          <input
            class="w-[85%] inline-block"
            name="url"
            type="text"
            placeholder="https://www.youtube.com/watch?v=smVU37xAhY8"
            tabindex="1"
            required
          />
          <input
            class="w-[15%] bg-gray-200 inline-block"
            type="submit"
            value="save"
            tabindex="-1"
          />
        </div>
      </form>

      <form
        class="p-[10px] mx-auto bg-[#515359] w-[85%] md:w-[50%]"
        action="saveplaylist"
      >
        <div class="font-bold text-base text-white">
          Archive a Youtube Playlist
        </div>
        <div class="flex gap-1 text-sm">
          <input
            class="w-[85%] inline-block"
            name="url"
            type="text"
            placeholder="https://www.youtube.com/playlist?list=PLhixgUqwRTjwvBI-hmbZ2rpkAl4lutnJG"
            tabindex="1"
            required
          />
          <input
            class="w-[15%] bg-gray-200 inline-block"
            type="submit"
            value="save"
            tabindex="-1"
          />
        </div>
      </form>

      <form
        class="p-[10px] mx-auto bg-[#515359] w-[85%] md:w-[50%]"
        action="savechannel"
      >
        <div class="font-bold text-base text-white">
          Archive a Youtube Channel
        </div>
        <div class="flex gap-1 text-sm">
          <input
            class="w-[85%] inline-block"
            name="url"
            type="text"
            placeholder="https://www.youtube.com/channel/UCyjKBSGMcxdGbSD86iq_SBw"
            tabindex="1"
            required
          />
          <input
            class="w-[15%] bg-gray-200 inline-block"
            type="submit"
            value="save"
            tabindex="-1"
          />
        </div>
      </form>

      <form
        class="p-[10px] mx-auto bg-[#515359] w-[85%] md:w-[50%]"
        action="autodownload"
      >
        <div class="font-bold text-base text-white">
          Automatically download new videos from channel
        </div>
        <div class="flex gap-1 text-sm">
          <input
            class="w-[85%] inline-block"
            name="url"
            type="text"
            placeholder="https://www.youtube.com/channel/UCyjKBSGMcxdGbSD86iq_SBw"
            tabindex="1"
            required
          />
          <input
            class="w-[15%] bg-gray-200 inline-block"
            type="submit"
            value="save"
            tabindex="-1"
          />
        </div>
      </form>

      <div class="mx-auto w-[85%] md:w-[50%]">
        PreserveTube is a time capsule for YouTube videos! It allows you to
        "preserve" any YouTube video, creating a snapshot that will always be
        available even if the original video disappears or is taken down. <br
        /><br />
        It saves not only the original video, but also descriptions, titles and other
        interesting metadata.<br /><br />
        PreserveTube is dedicated to preserving the legacy of YouTube, one video
        at a time.
      </div>

      <form
        class="p-[10px] mx-auto bg-[#515359] w-[85%] md:w-[50%]"
        action="/search"
        method="post"
      >
        <div class="font-bold text-base text-white">
          Search for the archive of an Youtube Video
        </div>
        <div class="flex gap-1 text-sm">
          <input
            class="w-[85%] inline-block"
            name="search"
            type="text"
            placeholder="The Chris Chan Interview or https://www.youtube.com/watch?v=mA80W7qVcSM"
            tabindex="1"
            required
          />
          <input
            class="w-[15%] bg-gray-200 inline-block"
            type="submit"
            value="search"
            tabindex="-1"
          />
        </div>
      </form>

      <form
        class="p-[10px] mx-auto bg-[#515359] w-[85%] md:w-[50%]"
        action="${backend}/search/playlist"
      >
        <div class="font-bold text-base text-white">
          Search for the archive of an Youtube Playlist
        </div>
        <div class="flex gap-1 text-sm">
          <input
            class="w-[85%] inline-block"
            name="url"
            type="text"
            placeholder="https://www.youtube.com/playlist?list=PLhixgUqwRTjwvBI-hmbZ2rpkAl4lutnJG"
            tabindex="1"
            required
          />
          <input
            class="w-[15%] bg-gray-200 inline-block"
            type="submit"
            value="search"
            tabindex="-1"
          />
        </div>
      </form>

      <form
        class="p-[10px] mx-auto bg-[#515359] w-[85%] md:w-[50%]"
        action="${backend}/search/channel"
      >
        <div class="font-bold text-base text-white">
          Search for the archive of an Youtube Channel
        </div>
        <div class="flex gap-1 text-sm">
          <input
            class="w-[85%] inline-block"
            name="url"
            type="text"
            placeholder="https://www.youtube.com/channel/UCyjKBSGMcxdGbSD86iq_SBw"
            tabindex="1"
            required
          />
          <input
            class="w-[15%] bg-gray-200 inline-block"
            type="submit"
            value="search"
            tabindex="-1"
          />
        </div>
      </form>
    </div>

    <div
      class="hidden md:inline-block fixed text-white bg-[#1b1c1f] mx-auto bottom-0 left-0 right-0 py-[4px] text-center"
    >
      <a href="transparency">[TRANSPARENCY]</a><div class="inline-block w-[3%]">
      </div>
      <a href="dmca">[DMCA]</a><div class="inline-block w-[3%]"></div>
      <a href="abuse">[REPORT ABUSE]</a><div class="inline-block w-[3%]"></div>
      <a href="privacy">[PRIVACY POLICY]</a><div class="inline-block w-[3%]">
      </div>
      <a href="https://status.preservetube.com">[STATUS]</a><div
        class="inline-block w-[3%]"
      >
      </div>
      <a href="https://github.com/PreserveTube">[GITHUB]</a>
    </div>
  </main>
</Layout>
