---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout
	title="Privacy Policy | PreserveTube"
	description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
	keywords="privacy policy preservetube"
>
	<main>
		<Header />
        <div class="text">
            <div class="part">
                <strong>Last updated:</strong> 2025-08-16
            </div>
            
            <div class="part">
                <div class="title">Anonymous Analytics</div>
                PreserveTube uses <a href="https://plausible.io/">Plausible</a> to get an aproximate number of active users, and the most watched videos. 
                No identifiable information, such as IPs, is stored. This Plausible instance is selfhosted, and not proxied through Cloudflare.
                <br><br>

                <div class="title">Reverse Proxying</div>
                We use <a href="https://caddyserver.com/">Caddy</a> to reverse proxy our services. On certain ocassions, such as when errors occur in requests,
                Caddy might log these. These logs include headers, client IPs, and paths. Otherwise, our Caddy setup does not log any requests. <br><br>
                Logs are purged automatically once the file size reaches 50MB.
                <br><br>

                <div class="title">DDoS Protection</div>
                We use a combination of Cloudflare (preservetube.com), BasedFlare (preservetube.net), and selfhosted solutions (preservetube.org) for our DDoS protection. We additionally use Cloudflare Turnstile as a captcha
                to avoid automated bot traffic on the /save page. <br><br>
                Cloudflare's privacy policy can be found here: <a href="https://www.cloudflare.com/en-gb/privacypolicy/">https://www.cloudflare.com/en-gb/privacypolicy/</a>. <br>
                BasedFlare has no privacy policy. It should be assumed everything is logged. Avoid visiting preservetube.net if you're uncomfortable with this.
                <br><br>

                <div class="title">DNS</div>
                Besides Cloudflare and BasedFlare, PreserveTube also relies on ClouDNS for DNS services. ClouDNS's privacy policy can be found here: <a href="https://www.cloudns.net/privacy-policy/">https://www.cloudns.net/privacy-policy/</a>
                <br><br>

                <div class="title">Video Saving</div>
                Saving videos is completly anonymous. We do not log who saved a video.
                <br><br>

                <div class="title">Questions?</div>
                I'm reachable at <a href="mailto:admin@preservetube.com">admin@preservetube.com</a> (<a style="text-decoration: none;" href="/pgp.txt">🔑</a>).
            </div>
        </div>
	</main>
</Layout>

<style>
    a {
        text-decoration: underline;
    }
    
	.text {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }

    .part {
        margin-bottom: 3%;
    }

    .title {
        font-size: large;
        margin-bottom: 2px;
        font-weight: bold;
    }
</style>
