---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout
	title="Privacy Policy | PreserveTube"
	description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
	keywords="privacy policy preservetube"
>
	<main>
		<Header />
        <div class="text">
            <div class="part">
                <strong>Last updated:</strong> 2023-02-27
                <br><br>
                We are committed to protecting the privacy of our users. This privacy policy explains how we collect, use, and protect personal information collected through our website.
            </div>
            
            <div class="part">
                <h2>COLLECTION OF PERSONAL INFORMATION</h2>
                We only collect and store the IP addresses and browser information of users who save an archive of a YouTube video or playlist on our website. This information is collected to prevent abuse of our service.
                <br><br>
                We do not collect any other personal information, such as your name, email address, or phone number, unless you voluntarily provide it to us, such as when emailing us.
            </div>

            <div class="part">
                <h2>USE OF PERSONAL INFORMATION</h2>
                The personal information we collect is only used to provide and improve our website, prevent abuse of our service, and comply with legal orders if required.    
            </div>

            <div class="part">
                <h2>SECURITY</h2>
                We take reasonable measures to protect your personal information from unauthorized access or misuse. We use industry-standard security measures, such as encryption, firewalls, and secure servers, to protect personal information from unauthorized access or disclosure.
            </div>

            <div class="part">
                <h2>CONTACT US</h2>
                If you have any questions or concerns about this privacy policy, please contact us through our website.
            </div>
        </div>
	</main>
</Layout>

<style>
	.text {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }

    .part {
        margin-bottom: 3%;
    }

    h2 {
        margin-bottom: 2px;
    }
</style>
