---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const data = await (
  await fetch(`${import.meta.env.BACKEND}/transparency/list`)
).json();
---

<Layout
  title="Transparency | PreserveTube"
  description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
  keywords=""
>
  <main>
    <Header />
    {
      data.length == 0 ? (
        <div class="text-center mt-[2%] block mx-auto">
          <img
            class="w-1/2"
            src="https://www.privacytools.io/img/warrant-canary.svg"
          />
          <p>
            We're happy to inform you that our website has received no abuse
            reports, DMCA takedowns, or requests from any law enforcement
            agency.
          </p>
        </div>
      ) : (
        <div class="my-[10px] text-center">
          {data.map((r) => (
            <a class="text-xl font-semibold inline-block" href={r.details}>
              {r.title}
            </a>
          ))}
        </div>
      )
    }
  </main>
</Layout>
