<div class="header">
	<div class="logo">
		<a href="/">PreserveTube</a>
	</div>
	|
	<div class="buttons">
		<a href="/latest">Latest</a>
	</div>
</div>

<style>
	.header {
		position: relative;
		background-color: #1b1c1f;
		color: white;
		height: 30px;
		padding-top: 5px;
		padding-left: 17.5%;
		padding-right: 17.5%;
	}

	.logo {
		padding-right: 12px;
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
	}

	.buttons {
		padding-left: 12px;
		font-size: 15px;
		display: inline-block;
	}
</style>
