<div class="header">
	<div class="logo">
		<a href="/">PreserveTube</a>
	</div>
	|
	<div class="buttons">
		<a href="/latest">Latest</a>
	</div>
</div>
<div class="donate has-no-adblocker">
	<span>PreserveTube is dedicated to preserving internet history, and we need your help! Every donation, big or small, makes a difference.</span>
	<a href="/donate" style="font-weight: bold;">Donate now.</a>
</div>

<script>
	function checkIfAdblocker() {
		if (window.localStorage.getItem('adblocker') === 'true') {
			document.querySelector('.has-no-adblocker').classList.remove('has-no-adblocker');
		}
	}

	setInterval(() => checkIfAdblocker, 1000);
	checkIfAdblocker()
</script>

<style>
	.has-no-adblocker {
		display: none;
	}

	.header {
		position: relative;
		background-color: #1b1c1f;
		color: white;
		height: 30px;
		padding-top: 5px;
		padding-left: 17.5%;
		padding-right: 17.5%;
	}

	.donate {
		position: relative;
		background-color: #fff2cf;
		border-bottom: 2px dashed #dab75e;
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
	}

	@media (max-width: 1100px) {
		.donate {
			padding-left: 5%;
			padding-right: 5%;
		}
	}

	.logo {
		padding-right: 12px;
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
	}

	.buttons {
		padding-left: 12px;
		font-size: 15px;
		display: inline-block;
	}

	@media only screen and (max-width: 767px) {
		.header {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
</style>
