<div
  class="relative bg-[#1b1c1f] text-white h-8 py-1.5 md:px-[17.5%] px-[5%] flex items-center"
>
  <div class="pr-3 text-xl font-bold inline-block">
    <a href="/">PreserveTube</a>
  </div>
  <span class="mx-2">|</span>
  <div class="pl-3 text-base inline-block">
    <a href="/latest">Latest</a>
  </div>
</div>
